.free-solo {
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.60)100%), url(/img/capa-free-solo.jpg);
}

.meru {
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.60)100%), url(/img/capa-meru.jpg);
}

.the-summit {
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.60)100%), url(/img/capa-the-summit.jpg);
}

.meru {
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.60)100%), url(/img/capa-free-solo.jpg);
}

.meru {
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.60)100%), url(/img/capa-free-solo.jpg);
}

.meru {
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.60)100%), url(/img/capa-free-solo.jpg);
}

.meru {
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.60)100%), url(/img/capa-free-solo.jpg);
}