@media screen and (max-width: 700px) {
    .filme-principal .container {
        width: 90%;
    }

    header .container {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin: 0 2.5%;
    }

    .botao {
        margin-top: 5px;
        font-size: 10px;
        padding: 10px 15px;
    }

    footer .container {
        flex-direction: column;
    }
    
    footer .container nav a {
    display: flex;
    justify-content: center;
    }

}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 90%;
    }

    .filme-principal .container {
        width: 65%;
    }
}